DB_HOST=localhost
DB_PORT=5435
DB_USER=dataphone
DB_PASSWORD=dataphone
DB_NAME=dataphone_poc
BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=8a4824002b0e2367aac7675c7e1dc0d349c244988b3b1ee8ba47e89b48a0306b
JWT_REFRESH_SECRET=601d3bc7b740d5544f303818feb7bd86c511c3c68607991833367d32b8dd2e52

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=development
# NODE_ENV=production

REDIS_HOST=localhost
REDIS_PORT=6380
